<a href="https://colab.research.google.com/github/Nishithmannuru/Nishith_INFO5731_Spring2022/blob/main/In_class_exercise_03_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (02/08/2022, 40 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''

QUESTION:
What are the populations of different cities in Texas in 2021?

Source of data : https://worldpopulationreview.com/states/cities/texas


I scraped data from the World Population website using the BeautifulSoup library's find(URL) function and the "prettify" function for the HTML page. 
Then I scraped the table present in the link, i.e., it represents top 500 cities in Texas based on their population. 
After Extracting the information I have saved the results into a dataframe.


'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [ ]:
import pandas as pd
import requests
import urllib.request as ur
Pop = "https://worldpopulationreview.com/states/cities/texas"
page = ur.urlopen(Pop)
from bs4 import BeautifulSoup as bs
soup = bs(page)
print(soup.prettify())
soup.a
soup.find_all("a")

In [ ]:
Population = soup.find(class_="jsx-2642336383 table-container")
print(Population)


Pop_data = []

for data in Population.findAll("tr"):
    cells = data.findAll('td')
    states=data.findAll('th')
    if len(cells)==6:
        item = []
        item.append(cells[0].find(text=True).strip("\n"))
        item.append(cells[1].find(text=True).strip("\n"))
        item.append(cells[2].find(text=True).strip("\n"))
        item.append(cells[3].find(text=True).strip("\n"))
        item.append(cells[4].find(text=True).strip("\n"))
        item.append(cells[5].find(text=True).strip("\n"))
        Pop_data.append(item)
print(Pop_data)

Pop_new = []

Titles = ['Rank','City Name','2021 Population ','2010 Census','Change','Density']
for record in Pop_data:
    record_dict = dict(zip(Titles ,record))
    Pop_new.append(record_dict)
print(Pop_new)

In [ ]:
import pandas as pd

Y=pd.DataFrame(Pop_new)
Y

    Rank      City Name 2021 Population  2010 Census   Change Density
0      1        Houston        2,323,660   2,100,280   10.64%     541
1      2    San Antonio        1,581,730   1,332,300   18.72%     486
2      3         Dallas        1,347,120   1,200,350   12.23%     591
3      4         Austin        1,011,790     806,164   25.51%     471
4      5     Fort Worth          942,323     748,441   25.90%     406
..   ...            ...              ...         ...      ...     ...
495  496          Clyde            3,811       3,691    3.25%     173
496  497        Barrett            3,807       3,199   19.01%      89
497  498       Presidio            3,748       4,466  -16.08%     217
498  499  West Columbia            3,746       3,894   -3.80%     223
499  500          Crane            3,740       3,353   11.54%     539

[500 rows x 6 columns]

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [ ]:
# You code here (Please add comments in the code):

import urllib.request
from bs4 import BeautifulSoup

url = "https://www.semanticscholar.org/paper/Information-Retrieval-Dekhtyar/72c58a58ba1684dc8337c8e64e0b5dacfc94499e?year%5B0%5D=2012&year%5B1%5D=2022&sort=relevance"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page)
#soup
papers = soup.find(id = 'citing-papers')
#print(papers)
different_articles = papers.find_all(class_="cl-paper-row citation-list__paper-row")
first_article = different_articles[0]
#print(first_article.prettify())

In [ ]:
title = first_article.find(class_ = "cl-paper-title").get_text()
published = first_article.find(class_ = "cl-paper-venue").get_text()
year_published = first_article.find(class_ = "cl-paper-pubdates").get_text()
authors = first_article.find(class_ = "cl-paper-authors").get_text()
abstract = first_article.find(class_ = "tldr-abstract-replacement text-truncator").get_text()
#abstract_full = first_article.find(class_="tldr-abstract__pill")

print(title)
print(published)
print(year_published)
print(authors)
print(abstract)
#print(abstract_full)

An information-theoretic approach to automatic query expansion
TOIS
2001
Claudio Carpineto, R. Mori, Giovanni Romano, B. Bigi
TLDRThis work presents a computationally simple and theoretically justified method for assigning scores to candidate expansion terms within Rocchio's framework for query reweigthing, and discusses the effect on retrieval effectiveness of the main parameters involved in automatic query expansion. Expand

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [ ]:
# You code here (Please add comments in the code):


!pip install tweepy

Requirement already satisfied: tweepy in c:\users\nishi\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\nishi\anaconda3\lib\site-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.0.0 in c:\users\nishi\anaconda3\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\nishi\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nishi\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nishi\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2020.6.20)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\nishi\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\nishi\anaconda3\lib\site-packages (from requests-oauthlib<2,>=1.0.0->tweepy) (3.2.0)

In [1]:
import tweepy
import pandas as pd

consumer_key = "IDLOCONcjBazinzkphfGn2Yc1"
consumer_secret = "m8M1B5qJtk7i7XZ7OnkCcIMllFseLg1wA801EzGicCk6GYabiK"
access_token = "1441930201496125440-5FW4WQmBq60NrmegbarcnX1if69cT4"
access_token_secret = "R1kevmRqCy3nOTfznLFRJUn2Z7A61a8a3QQUhyFMTcvbc"

In [2]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [4]:
import warnings
warnings.filterwarnings("ignore")
number_of_tweets = 1500
username = []
posted_time = []
tweets = []

for i in tweepy.Cursor(api.search, q = "Covid-19", lang = "en", tweet_mode = "extended").items(number_of_tweets):
    tweets.append(i.full_text)
    username.append(i.user.name)
    posted_time.append(i.created_at)

data = {'UserName':username, "Time Posted": posted_time, "Text": tweets}

df = pd.DataFrame(data = data)

In [5]:
df

                                               UserName  ...                                               Text
0     Marty Haight - Time to get money out of politics!  ...  RT @NBCLA: Though Rare, COVID-19 Can Destroy t...
1                                      StrictlyChristoî¨€  ...  Heart-disease risk soars after COVID â€” even wi...
2                                         Reality in BC  ...  RT @RonaldNHughes: An average of one year afte...
3                                             Dreighton  ...  RT @Timcast: its not a simulation its a sitcom...
4     Pauline Johnson Public School - Home of the LIONS  ...  Grade 3 author and cartoonist Nolan has produc...
...                                                 ...  ...                                                ...
1495                                                ONC  ...  RT @CDCgov: Adults who were up to date on thei...
1496                                              manny  ...  RT @CP24: Poll: Nearly 30% of Canadians say it...
1497                                        ðŸ‡¨ðŸ‡¦ NOMAD ðŸ‡¨ðŸ‡¦  ...  @Melissa99783783 @vintage831 I'm not a scienti...
1498                                Lucia Ruggiero EALR  ...  RT @GlobalPHObserv: 5 ways to tackle ignorance...
1499                                    Peter Schechter  ...  Sweden rolls back large-scale availability on ...

[1500 rows x 3 columns]