<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [20]:
# write your answer here

string = "Welcome to INFO 5731"
print (len(string))

20

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [47]:
# write your answer here

sample_string = "google.com"
result = {}

for i in sample_string:
    result[i] = sample_string.count(i)

sorted_dict = dict(sorted(result.items(), key = lambda item:item[1],reverse = True))
sorted_dict

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [56]:
# write your answer here

import random

random_list = []
for i in range (0,10):
    x = random.randint(1,100)
    random_list.append(x)
print("The randomly generated list is " + str(random_list))

print("The sum of all the items in the list is " + str(sum(random_list)))

The randomly generated list is [50, 13, 56, 39, 88, 29, 32, 21, 62, 23]
The sum of all the items in the list is 413

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [62]:
def replacement_at_index (string, index, replacement):
    new_string = string
    if index < len(string):
        new_string = string[0:index] + replacement + string[index + 1:]
    return new_string

sample_string = "restart"

expected_string = replacement_at_index(sample_string, 5, "$")
expected_string

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [73]:
import math

a = float(input("Enter a"))
b = float(input("Enter b"))

S = round(math.pi*((1+(a/b))**3),2)
S

Enter a 10
Enter b 20

10.6

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [80]:
# write your answer here

dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}

expected_result = {}
for i in (dict1, dict2, dict3):
    expected_result.update(i)

expected_result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [85]:
# write your answer here

random_tuple = (65, 72, 88, 2, "Hello", 23, "Welcome", "M")

print (88 in random_tuple)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [92]:
# write your answer here

thisset = {28, 45, 77, 1, 45, 88, 90, 45, 72, 84}

print("Maximum value in the set is {0}".format(max(thisset)))
print("Minimum value in the set is {0}".format(min(thisset)))

Maximum value in the set is 90
Minimum value in the set is 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [94]:
# write your answer here

from itertools import islice

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

group = []
for i in range(5):
    group.append(random.randint(3,5))

inpu = iter(student_list)
Output  = [list(islice(inpu, elem)) for elem in group]
print("List after splitting", Output)

List after splitting [['ja0964', 'sa1198', 'sb1357', 'vb0218'], ['sc1229', 'kg0569', 'kg0470', 'sg1297'], ['bg0320', 'fh0141', 'jl1252', 'sk1386'], ['ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [101]:
# write your answer here

def Duplicate_Elements(numbers):
    X = set()
    NoDuplicate = -1
    for i in range(len(numbers )):
        if numbers[i] in X:
            return numbers[i]
        else:
            X.add(numbers [i])

        return NoDuplicate


Duplicate_Elements([-2, 5, 99, 64, 7, 34])

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [107]:
# write your answer here

from datetime import date, timedelta

def Sundays(year):
    dt = date(year, 1, 1)      
    dt += timedelta(days = 6 - dt.weekday())  
    while dt.year == year:
        yield dt
        dt += timedelta(days = 7)
Year_Num=int(input('Enter the Year:'))
for Y in Sundays(Year_Num):
    print(Y)

Enter the Year: 2022

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25