<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [19]:
import random

numbers = []

for items in range(1,13):
    x = random.randint(1,100)
    numbers.append(x)

print ("Random numbers  : ", numbers)

numbers.sort()
print("Ascending order : ", numbers)

numbers.sort(reverse = True)
print ("Decending order : ", numbers)

def avg(numbers):
    return sum(numbers) / len(numbers)

print ("Average of the list is : ", round(avg(numbers),2))

Random numbers  :  [66, 5, 86, 2, 65, 62, 94, 45, 53, 85, 83, 89]
Ascending order :  [2, 5, 45, 53, 62, 65, 66, 83, 85, 86, 89, 94]
Decending order :  [94, 89, 86, 85, 83, 66, 65, 62, 53, 45, 5, 2]
Average of the list is :  61.25

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [33]:
#1
sentence1 = str(input("Enter the first sentence : ")) #Hello, how are you doing today?
sentence2 = str(input("Enter the second sentence : ")) #I am doing great! how are you?

#2
import re

list1 = re.findall(r"[\w']+|[.,!?;]", sentence1)
print ("List 1 : ", list1)

list2 = re.findall(r"[\w']+|[.,!?;]", sentence2)
print ("List 2 : ", list2)



#3
x = [elem for elem in list2 if elem in list1 ]
print("Similar words in both sentences : ", x)

#4
punctuations=[':',';',',','.','!','$','@','#','%','^','&','*', '_', '~', '?']
no_punctuation_statement = ""
sentences = sentence1, sentence2
for i in sentences:
    for char in i:
        if char not in punctuations:
            no_punctuation_statement = no_punctuation_statement + char
print(no_punctuation_statement)
no_punctuation_statement = " "

#5
vowels = 'aeiou'

count = {}.fromkeys(vowels,0)

sentences = sentence1, sentence2
for i in sentences:
    for char in i:
        if char in count:
            count[char] += 1

print(count)

Enter the first sentence :  Hello, how are you doing today?
Enter the second sentence :  I am doing great! how are you?

List 1 :  ['Hello', ',', 'how', 'are', 'you', 'doing', 'today', '?']
List 2 :  ['I', 'am', 'doing', 'great', '!', 'how', 'are', 'you', '?']
Similar words in both sentences :  ['doing', 'how', 'are', 'you', '?']
Hello how are you doing todayI am doing great how are you
{'a': 5, 'e': 4, 'i': 2, 'o': 8, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [51]:
import math

def volume(r):
    return (4/3*math.pi*r**3)

print('r     v')
for r in range(1, 11):
    print (str(r) +"     " +str(volume(r)))

r     v
1     4.1887902047863905
2     33.510321638291124
3     113.09733552923254
4     268.082573106329
5     523.5987755982989
6     904.7786842338603
7     1436.7550402417319
8     2144.660584850632
9     3053.6280592892786
10     4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [4]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv")
data.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [101]:
#1

occupied_housing = data[data["title_field"]=="Occupied Housing Units"].sort_values(by=['year'])
#occupied_housing
occupied_housing.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [102]:
occupied_housing_df = pd.DataFrame({'Consecutive years':['2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014'],'Difference value' :[-795.0, 5091.0, -303.0, 1404.0, 1565.0,2622.0]})
#occupied_housing_df
occupied_housing_df.sort_values(by=['Difference value'])

  Consecutive years  Difference value
0       2008 - 2009            -795.0
2       2010 - 2011            -303.0
3       2011 - 2012            1404.0
4       2012 - 2013            1565.0
5       2013 - 2014            2622.0
1       2009 - 2010            5091.0

In [97]:
#2

occupied = data[data["title_field"] == "Occupied Housing Units"].sort_values(by = ["year"])
#occupied
vacant = data[data["title_field"] == "Vacant Housing Units"].sort_values(by = ["year"])
#vacant

df_merge = pd.merge(occupied, vacant, on = ["year"])
#df_merge.head()

df_merge["occupied_percentage"] = round(((df_merge["value_x"]/(df_merge['value_x']+df_merge['value_y']))*100))
df_merge["vacant_percentage"] = round((df_merge["value_y"]/(df_merge['value_x']+df_merge['value_y']))*100)
#df_merge.head()

Percentage_of_housing_units = df_merge[["year", "occupied_percentage", "vacant_percentage"]]
Percentage_of_housing_units

   year  occupied_percentage  vacant_percentage
0  2008                 89.0               11.0
1  2009                 91.0                9.0
2  2010                 92.0                8.0
3  2011                 91.0                9.0
4  2012                 93.0                7.0
5  2013                 91.0                9.0
6  2014                 94.0                6.0

In [91]:
#3

occupied_max = data.loc[data['title_field'] == 'Occupied Housing Units','value'].max()
df_result1 = data.loc[data['value'] == occupied_max]
#print (df_result1)


final_table1 = df_result1[['title_field', 'year', 'value']]
#print(final_table1)

vaccant_max = data.loc[data['title_field'] == 'Vacant Housing Units','value'].max()
df_result2 = data.loc[data['value'] == vaccant_max]
#print (df_result1)


final_table2 = df_result2[['title_field', 'year', 'value']]
#print(final_table2)

df_final = pd.concat([final_table2, final_table1])
print (df_final)

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [80]:
#4.

import statistics

print(statistics.harmonic_mean(list(data[data["title_field"] == "Total Housing Units"].value)))

44398.28543969185